<a href="/">Home</a><br><br>

<h1>Your Profile</h1><br>
Name: <%= current_user.firstname %> <%= current_user.lastname %>
<br><br>
<%= form_for @user do |f| %>
	First Name: <%= f.text_field :firstname, placeholder: 'First Name', class: 'blackfont' %><br>
	Last Name: <%= f.text_field :lastname, placeholder: 'Last Name', class: 'blackfont' %><br>
	Select Profile Picture: <%= f.file_field :avatars, multiple: true %><br><br>
	<%= f.submit 'update profile', :class => 'blackfont' %><br><br><br>
<% end %>

<% unless @user.avatars[0].nil? %>
<%= image_tag (@user.avatars[0].url) %><br><br>
<% end %>

<h1>Your Listings</h1>
<% current_user.listings.all.each do |l| %>
	This listing is created at: <%= l.created_at.to_date %><br>
	Room type: <%= l.property_type %><br>
	Number of beds: <%= l.bed_count %><br>
	Maximum number of people that can stay here: <%= l.max_people %><br>
	Number of bathrooms: <%= l.bathroom_count %><br>
	Bathroom type: <%= l.bathroom_type %>
	Address: <%= l.address %><br>
	City: <%= l.city %><br>
	State: <%= l.state %><br>
	Zipcode: <%= l.zipcode %><br>
	Country: <%= l.country %><br>
	Date Availability: <%= l.date_availability_start %> until <%= l.date_availability_end %><br>
	Price per night: <%= l.price_per_night %><br><br>
<% end %>






